*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border:black;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    background-color: antiquewhite;
}

.header, .navigator, ul{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding-left: 10px;
    
}

li{
    margin: 7px;
}

li a{
    color: black;
}

.login, .cart{
    margin: 7px;
    
}

button{
    cursor: pointer;
}

